In [1]:
%config Completer.use_jedi = False

In [2]:
import pandas as pd
from ast import literal_eval

In [3]:
dfc = pd.read_csv(r"D:\data\openparliament\df_climate.csv", header=0)

In [4]:
dfc.shape

(19660, 30)

In [5]:
dfc.head()

,id,politician_id,riding_id,party_id,end_date,start_date,id.1,document_id,time,h1_en,...,written_question,source_id,who_context_en,slug,urlcache,wordcount_en,tokenized_content,slug_length,text_en,tokens
0,1348,180,35006,4,2011-03-26,2004-10-04,232384,1878,2001-05-03 14:00:00-04,Statements By Members,...,NaN,NaN,NaN,gurbax-malhi-1,/debates/2001/5/3/gurbax-malhi-1/,\N,"['mr.', 'speaker', ',', 'last', 'week', 'more'...",3,"Mr. Speaker, last week more than six million C...","['mr', 'speaker', 'last', 'week', 'six', 'mill..."
1,1652,180,70075,4,2004-05-23,2001-01-29,232384,1878,2001-05-03 14:00:00-04,Statements By Members,...,NaN,NaN,NaN,gurbax-malhi-1,/debates/2001/5/3/gurbax-malhi-1/,\N,"['mr.', 'speaker', ',', 'last', 'week', 'more'...",3,"Mr. Speaker, last week more than six million C...","['mr', 'speaker', 'last', 'week', 'six', 'mill..."
2,3153,180,35006,4,2000-10-22,1994-01-17,232384,1878,2001-05-03 14:00:00-04,Statements By Members,...,NaN,NaN,NaN,gurbax-malhi-1,/debates/2001/5/3/gurbax-malhi-1/,\N,"['mr.', 'speaker', ',', 'last', 'week', 'more'...",3,"Mr. Speaker, last week more than six million C...","['mr', 'speaker', 'last', 'week', 'six', 'mill..."
3,1257,204,48023,1,2008-09-07,2004-10-04,234273,1886,2001-05-15 12:55:00-04,Government Orders,...,NaN,NaN,NaN,bob-mills-1,/debates/2001/5/15/bob-mills-1/,\N,"['mr.', 'speaker', ',', 'it', 'is', 'a', 'priv...",3,"Mr. Speaker, it is a privilege to be able to s...","['mr', 'speaker', 'privilege', 'able', 'speak'..."
4,1565,204,48023,25,2004-05-23,2001-01-29,234273,1886,2001-05-15 12:55:00-04,Government Orders,...,NaN,NaN,NaN,bob-mills-1,/debates/2001/5/15/bob-mills-1/,\N,"['mr.', 'speaker', ',', 'it', 'is', 'a', 'priv...",3,"Mr. Speaker, it is a privilege to be able to s...","['mr', 'speaker', 'privilege', 'able', 'speak'..."

In [6]:
dfc.tokenized_content = dfc.tokenized_content.apply(literal_eval)

In [7]:
df = pd.read_csv(r"D:\data\openparliament\df_content_en.csv")

C:\Users\alecr\Anaconda3\envs\gensim_env\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
df.head()

,Unnamed: 0,id,politician_id,riding_id,party_id,end_date,start_date,id.1,document_id,time,h1_en,h2_en,member_id,who_en,content_en,wordcount_en
0,0,2611,3465,35066,4,2005-11-29,1997-09-22,232373,1878,2001-05-03 13:50:00-04,Government Orders,Federal-Provincial Fiscal Arrangements Act,2611,Ms. Marlene Catterall,"<p>Mr. Speaker, I rise on a point of order. I ...",\N
1,1,3210,3465,70224,4,1997-04-27,1994-01-17,232373,1878,2001-05-03 13:50:00-04,Government Orders,Federal-Provincial Fiscal Arrangements Act,2611,Ms. Marlene Catterall,"<p>Mr. Speaker, I rise on a point of order. I ...",\N
2,2,4305,173,70358,1,\N,2015-10-19,645329,388,2008-02-14 13:15:00-05,Routine Proceedings,Questions Passed as Orders for Returns,1534,Mr. Tom Lukiwski,"<p data-HoCid=""906766"" data-originallang=""en"">...",\N
3,3,1534,173,47007,1,2015-10-19,2004-10-04,645329,388,2008-02-14 13:15:00-05,Routine Proceedings,Questions Passed as Orders for Returns,1534,Mr. Tom Lukiwski,"<p data-HoCid=""906766"" data-originallang=""en"">...",\N
4,4,1541,43,47014,1,2015-10-19,2004-10-04,313253,1621,2004-02-06 10:05:00-05,NaN,Privilege,1843,"Mr. Garry Breitkreuz (Yorkton—Melville, CPC)","<p>Mr. Speaker, I rise today on a question of ...",\N

In [9]:
import textstat

In [10]:
dfc.head()

,id,politician_id,riding_id,party_id,end_date,start_date,id.1,document_id,time,h1_en,...,written_question,source_id,who_context_en,slug,urlcache,wordcount_en,tokenized_content,slug_length,text_en,tokens
0,1348,180,35006,4,2011-03-26,2004-10-04,232384,1878,2001-05-03 14:00:00-04,Statements By Members,...,NaN,NaN,NaN,gurbax-malhi-1,/debates/2001/5/3/gurbax-malhi-1/,\N,"[mr., speaker, ,, last, week, more, than, six,...",3,"Mr. Speaker, last week more than six million C...","['mr', 'speaker', 'last', 'week', 'six', 'mill..."
1,1652,180,70075,4,2004-05-23,2001-01-29,232384,1878,2001-05-03 14:00:00-04,Statements By Members,...,NaN,NaN,NaN,gurbax-malhi-1,/debates/2001/5/3/gurbax-malhi-1/,\N,"[mr., speaker, ,, last, week, more, than, six,...",3,"Mr. Speaker, last week more than six million C...","['mr', 'speaker', 'last', 'week', 'six', 'mill..."
2,3153,180,35006,4,2000-10-22,1994-01-17,232384,1878,2001-05-03 14:00:00-04,Statements By Members,...,NaN,NaN,NaN,gurbax-malhi-1,/debates/2001/5/3/gurbax-malhi-1/,\N,"[mr., speaker, ,, last, week, more, than, six,...",3,"Mr. Speaker, last week more than six million C...","['mr', 'speaker', 'last', 'week', 'six', 'mill..."
3,1257,204,48023,1,2008-09-07,2004-10-04,234273,1886,2001-05-15 12:55:00-04,Government Orders,...,NaN,NaN,NaN,bob-mills-1,/debates/2001/5/15/bob-mills-1/,\N,"[mr., speaker, ,, it, is, a, privilege, to, be...",3,"Mr. Speaker, it is a privilege to be able to s...","['mr', 'speaker', 'privilege', 'able', 'speak'..."
4,1565,204,48023,25,2004-05-23,2001-01-29,234273,1886,2001-05-15 12:55:00-04,Government Orders,...,NaN,NaN,NaN,bob-mills-1,/debates/2001/5/15/bob-mills-1/,\N,"[mr., speaker, ,, it, is, a, privilege, to, be...",3,"Mr. Speaker, it is a privilege to be able to s...","['mr', 'speaker', 'privilege', 'able', 'speak'..."

In [13]:
label_df = pd.read_csv(r"D:\data\openparliament\statement_id2result.csv")

In [14]:
label_df.head()

   statement_id result
0        582228      Y
1        582228      Y
2        582228      Y
3        582228      Y
4        582228      Y

In [15]:
dfc.columns

Index(['id', 'politician_id', 'riding_id', 'party_id', 'end_date',
       'start_date', 'id.1', 'document_id', 'time', 'h1_en', 'h2_en',
       'member_id', 'who_en', 'content_en', 'sequence_en', 'wordcount',
       'procedural', 'h3_en', 'who_hocid', 'statement_type',
       'written_question', 'source_id', 'who_context_en', 'slug', 'urlcache',
       'wordcount_en', 'tokenized_content', 'slug_length', 'text_en',
       'tokens'],
      dtype='object')

In [16]:
dfc.id.describe()

count    19660.000000
mean      2486.721668
std       1423.040939
min        311.000000
25%       1265.000000
50%       1844.000000
75%       4143.000000
max       4587.000000
Name: id, dtype: float64