In [1]:
import pickle

In [2]:
import pandas as pd
import numpy as np

In [3]:
import spacy

nlp = spacy.load('en_core_web_sm')

In [4]:
with open(r"D:\data\openparliament\models\vocab_dict_large.pkl", "rb") as f:
    vocab_count_dict = pickle.load(f)

In [5]:
max_vocab = 0
max_s = None
for k, v in vocab_count_dict.items():
    if len(vocab_count_dict[k])>max_vocab:
        max_vocab = len(v)
        max_s = k

In [6]:
max_s

177

In [7]:
list(vocab_count_dict.keys())[:10]

[3465, 173, 43, 216, 256, 4458, 131, 3899, 96, 14]

In [8]:
len(vocab_count_dict[4458])

4356

In [9]:
vocab_count_dict[96]

{'dangerously',
 'conventional',
 'genie',
 'welcome',
 'squadron',
 'hooked',
 'clow',
 'bad',
 'shipper',
 'repeatedly',
 'impression',
 'exempt',
 'whisky',
 'blindside',
 'crossing',
 'humourous',
 'editor',
 'dip',
 'exhibition',
 'doctrine',
 'flap',
 'intend',
 'tuck',
 'revolt',
 'late',
 'country',
 'teenage',
 'mill',
 'background',
 'dissimilar',
 'harsh',
 'chemical',
 'garry',
 'empathize',
 'acknowledge',
 'iconic',
 'bribery',
 'restructure',
 'farmer',
 'z',
 'belatedly',
 'stop',
 'gasoline',
 'unusual',
 'supercluster',
 'borrow',
 'punishment',
 'junior',
 'lob',
 'butter',
 'curtail',
 'get',
 'monetary',
 'retract',
 'prop',
 'impeccable',
 'overjoy',
 'presume',
 'avant',
 'vacancy',
 'buddy',
 'hasty',
 'rehash',
 'adapt',
 'mactaquac',
 'undo',
 'rebuild',
 'fine',
 'survival',
 'dfc',
 'outstanding',
 'necessity',
 'deter',
 'equitable',
 'imprison',
 'intern',
 'caregive',
 'plight',
 'clearly',
 'lax',
 'deficiency',
 'amateur',
 'potential',
 'insertion',
 'millionaire',
 'exploitive',
 'deliberation',
 'nicholson',
 'discount',
 'bale',
 'relative',
 'son',
 'combination',
 'intensity',
 '27th',
 'regard',
 'couple',
 'rehabilitate',
 'thoughtfully',
 'listeriosis',
 'weekly',
 'mess',
 'source',
 'cordiality',
 'failing',
 'forth',
 'baseless',
 'agro',
 'disturb',
 'passenger',
 'party',
 'slight',
 'amount',
 'excellent',
 'small',
 'tampering',
 'tory',
 'trapping',
 'dozen',
 'moderate',
 'authorization',
 'quintal',
 'stiff',
 'document',
 'pleased',
 'incorrectly',
 'albatross',
 'far',
 'stringent',
 'foolishness',
 'function',
 'recycling',
 'reallocated',
 'rig',
 'compost',
 'pill',
 'dock',
 'death',
 'standing',
 'pat',
 'shortcome',
 'seasoned',
 'incredibly',
 'overlook',
 'hole',
 'sponsor',
 'pictou',
 'grey',
 'voiceless',
 'broadband',
 'morale',
 'ferry',
 'possess',
 'marry',
 'misinformation',
 'depletion',
 'reek',
 'helicopter',
 'vqa',
 'inconsistency',
 'realization',
 'repositioning',
 'patronize',
 'prosper',
 'resolve',
 'parkland',
 'originally',
 'sprinkle',
 'herre',
 'quo',
 'backing',
 'thoughtful',
 'functional',
 'unhealthy',
 'breadwinner',
 'tech',
 'environmentally',
 'revictimize',
 'haste',
 'commonplace',
 'visionary',
 'endanger',
 'volunteer',
 'brain',
 'leadership',
 'livestock',
 '30th',
 'hey',
 'dominate',
 'examiner',
 'streak',
 'athlete',
 'sign',
 'fierce',
 'weave',
 'skipper',
 'utilize',
 'bestow',
 'amendable',
 'hq',
 'drug',
 'provoke',
 'calm',
 'wipe',
 'achievable',
 'solitary',
 'treatment',
 'hardworke',
 'winnipeg',
 'cycle',
 'notice',
 'admire',
 't',
 'nose',
 'dub',
 'inefficient',
 'interception',
 'gate',
 'choice',
 'roadblock',
 'unaccountable',
 'portray',
 'graph',
 'cooling',
 'employee',
 'respect',
 '73th',
 'librarian',
 'perceive',
 'relay',
 'nexen',
 'execution',
 'roast',
 'warden',
 'porn',
 'urgent',
 'spin',
 'taxis',
 'conjecture',
 'considerable',
 'quota',
 'street',
 'participation',
 'egregious',
 'considerate',
 'glare',
 'passport',
 'girl',
 'literature',
 'clerk',
 'ugly',
 'cook',
 'caregiver',
 'awareness',
 'wascana',
 'steamroll',
 'assessment',
 'entry',
 'podium',
 '11th',
 'compliant',
 'assistant',
 'permission',
 'bathurst',
 'increased',
 'simpli',
 'shrimp',
 'rephrase',
 'corn',
 'nancy',
 'concurrent',
 'discretionary',
 'affect',
 'industrial',
 'willingness',
 'aquarium',
 'briefing',
 'distance',
 'help',
 'undersell',
 'illuminate',
 'province',
 'accompany',
 'renewable',
 'shoeshine',
 'retaliatory',
 'hiding',
 'dash',
 'weigh',
 'clever',
 'specify',
 'umbrella',
 'native',
 'crack',
 'shine',
 'reporter',
 'stalinist',
 'staple',
 'expound',
 'height',
 'iteration',
 'limit',
 'satisfie',
 'monitor',
 'clarifie',
 'overturn',
 'force',
 'amalgamated',
 'uncompetitive',
 'recruitment',
 'mission',
 'ill',
 'commendation',
 'platform',
 'literally',
 'dm',
 'constitute',
 'pump',
 'chilled',
 'traditionally',
 'derrick',
 'usda',
 'cautious',
 'creditor',
 'evenly',
 'hopeful',
 ' ',
 'brow',
 'cash',
 'marketing',
 'pension',
 'mend',
 'probe',
 'exaggerate',
 'instance',
 'downer',
 'termination',
 'effectively',
 'fruit',
 'transport',
 'musical',
 'news',
 'intentionally',
 'hoard',
 'disposal',
 'asset',
 'ste',
 'powerful',
 'addiction',
 'perk',
 'gully',
 'despondent',
 'listener',
 'worsen',
 'hst',
 'csec',
 'incremental',
 'laughter',
 'scottie',
 'commodity',
 'trucking',
 'closet',
 'corner',
 'reverse',
 'pouch',
 'tidewater',
 'funeral',
 'asra',
 'vii',
 'hotline',
 'swiftly',
 'symposium',
 'bourbon',
 'remaining',
 'wasteful',
 'colon',
 'terribly',
 'individualized',
 'urbanite',
 'cavendish',
 'complex',
 'telegraph',
 'disposable',
 'simple',
 'needle',
 'folksy',
 'congressional',
 'geographic',
 'reference',
 'afflict',
 'reactive',
 'life',
 'tourist',
 'woman',
 'procedure',
 'foresee',
 'nafo',
 'deserved',
 'troubling',
 'detection',
 'untrue',
 'budworm',
 'bowel',
 'nominate',
 'omnibus',
 'toew',
 'ideologically',
 'resettle',
 'billy',
 'addict',
 'incidence',
 'ingest',
 'spring',
 'comparable',
 'habitat',
 'discovery',
 'private',
 'cautionary',
 'conditioning',
 'overcome',
 'similarity',
 'replacement',
 'mutual',
 'justification',
 'someplace',
 '2012–13',
 'fabricate',
 'ownership',
 'one',
 'flood',
 'principle',
 'retire',
 'wrist',
 'anthem',
 'bankrupt',
 'grandchild',
 'dilemma',
 'deportee',
 'operator',
 'hour',
 'fraction',
 'physician',
 'regionalization',
 'addressing',
 'intervene',
 'lucrative',
 'consultative',
 'pal',
 'grocery',
 'makeup',
 'economics',
 'liable',
 'backbone',
 'devastate',
 'royal',
 'group',
 'ad',
 'body',
 'definitively',
 'speculation',
 'reinstate',
 'pose',
 'harass',
 'great',
 '        ',
 'absolute',
 'lifestyle',
 'galt',
 'olive',
 'tailor',
 'preservation',
 'light',
 'essence',
 'binocular',
 'oppressor',
 'coat',
 'heat',
 'crime',
 'utility',
 'ended',
 'quilting',
 'adopt',
 'tranparencie',
 'favourable',
 'wound',
 'odd',
 'fraser',
 'mine',
 'irb',
 'shooting',
 'platter',
 'filler',
 'hotel',
 'operative',
 'survive',
 'xviii',
 'thread',
 'deer',
 'organize',
 'athol',
 'apartment',
 'false',
 'inflation',
 'belittle',
 'damn',
 'dissension',
 'community',
 'grind',
 'hydroelectric',
 'professor',
 'viability',
 'www',
 'venture',
 'lobby',
 'delegation',
 'breakfast',
 'nail',
 'basis',
 'eventually',
 'possible',
 'goodness',
 'site',
 'rely',
 'unelected',
 'nisa',
 'caucus',
 'map',
 'absolve',
 'press',
 'bruun',
 'disagreement',
 'misallocation',
 'worse',
 'naylor',
 'intrude',
 'centre',
 'rough',
 'demonstrate',
 'chapter',
 'drastically',
 'cyber',
 'parent',
 'meaningless',
 'slide',
 'flexible',
 'unlike',
 'softness',
 'performance',
 'fanfare',
 'luxurious',
 'hazardous',
 'torngat',
 'weird',
 'overspent',
 'fool',
 'mechanism',
 'alter',
 'registrant',
 'repudiate',
 'protective',
 'mla',
 'women',
 'diet',
 'advisable',
 'wildlife',
 'company',
 'reciprocity',
 'culprit',
 'debt',
 'backbench',
 'silting',
 'needless',
 'soft',
 'preschool',
 'reflect',
 'maple',
 'instinctive',
 'embody',
 'gunsmith',
 'subsidized',
 'photograph',
 'eventual',
 'illicit',
 'boost',
 'hearted',
 'substantially',
 'addicted',
 'compulsory',
 'remote',
 'dirty',
 'softwood',
 'livelihood',
 'victim',
 'improvement',
 'constable',
 'cpp',
 'voluntary',
 'agence',
 'splash',
 'reoffending',
 'gloom',
 'conglomerate',
 'purpose',
 'du',
 'commendable',
 'apprenticeship',
 'fiscally',
 'intelligence',
 'detriment',
 'lend',
 'brass',
 'culture',
 'disorder',
 'boy',
 'engage',
 'unexpected',
 'hit',
 'wife',
 'attend',
 'lunatic',
 'populous',
 'parrish',
 'night',
 'storage',
 'teach',
 'knock',
 'frcc',
 'consult',
 'safeguard',
 'heal',
 'agenda',
 'big',
 'unenviable',
 'nurture',
 'personnel',
 'clean',
 'flaw',
 'level',
 'lawfully',
 'insinuate',
 'justifiably',
 'negatively',
 'ridiculous',
 'stunning',
 'testing',
 'classified',
 'vein',
 'referee',
 'eminent',
 'secondary',
 'transfer',
 'unafraid',
 'confirmation',
 'stabilize',
 'lawyer',
 'applicant',
 'database',
 'yell',
 'remove',
 'rechange',
 'unproductive',
 'unconstitutional',
 'fairy',
 'sterling',
 'unthinkable',
 'bubble',
 'environment',
 'reality',
 'boat',
 'live',
 'quantitative',
 'resurrect',
 'totality',
 'station',
 'seasonality',
 'loophole',
 'carstair',
 'agrirecovery',
 'deprivation',
 'macrae',
 'sombre',
 'immigrant',
 'stateless',
 'usurious',
 'patently',
 'upov',
 'indictment',
 'freefall',
 'imaginary',
 'persecute',
 'amend',
 'dearly',
 'recognize',
 'journalism',
 'disenfranchise',
 'terrorist',
 'hen',
 'regularly',
 'transition',
 'struggle',
 'flexibly',
 'examination',
 'dependent',
 'hurdle',
 'subsidization',
 'defining',
 'liquor',
 'cruelty',
 'maliciously',
 'unaccounted',
 'solicitor',
 'cosa',
 'tfwp',
 'forfeit',
 'cellar',
 'hastily',
 'feeling',
 'yesterday',
 'anybody',
 'practise',
 'account',
 'security',
 'stun',
 'chaff',
 'interim',
 'wooden',
 'yvonne',
 'ambassador',
 'depth',
 'caput',
 'quieter',
 'intense',
 'breeding',
 'pomp',
 'count',
 'outdoor',
 'comprehensive',
 'pelly',
 'album',
 'evident',
 'invite',
 'disrespect',
 'neutrality',
 'peanut',
 'sidewalk',
 'agree',
 'lifelong',
 'specious',
 'vehicle',
 'mailing',
 'm',
 'strongly',
 'harvester',
 'marking',
 'branch',
 'censorship',
 'snowbird',
 'collaborative',
 'river',
 'divisive',
 'tolerate',
 'feasible',
 'utterly',
 'soar',
 'child',
 'nest',
 'analyst',
 'take',
 'bunk',
 'owe',
 'lasting',
 'bar',
 'oath',
 'crcvc',
 'thoroughly',
 'narcotic',
 'blockhouse',
 'fossil',
 'flemish',
 'table',
 'growth',
 'contend',
 'foundation',
 'emphatically',
 'disillusionment',
 'grab',
 'return',
 'biomass',
 'pace',
 'hush',
 'statistic',
 'happening',
 'fevere',
 'dishonesty',
 'deactivate',
 'posting',
 'allusion',
 'pickpocket',
 'inmate',
 'paramount',
 'brief',
 'incur',
 'caveat',
 'creature',
 'problem',
 'unbridled',
 'discredited',
 'viii',
 'ban',
 'word',
 'reopen',
 'lebanese',
 'cocaine',
 'scream',
 'diplomat',
 'identity',
 'internationally',
 'universally',
 'threshold',
 'awhile',
 'wireless',
 'chirp',
 'privilege',
 'disrupt',
 'downgrading',
 'sky',
 'liked',
 'grown',
 'unfettered',
 'viable',
 'instability',
 'relation',
 'horror',
 'establishment',
 'unfortunate',
 'bruise',
 'offensive',
 'fiefdom',
 'awaken',
 'cudmore',
 'trailblazer',
 'coalition',
 'equation',
 'writer',
 'horizon',
 'website',
 'plane',
 'ignorant',
 'blackberry',
 'remind',
 'calgary',
 'nipisse',
 'gst',
 'tower',
 'nationhood',
 'hypocritical',
 'clothe',
 'confinement',
 'peter',
 'flow',
 'invasion',
 'claw',
 'mental',
 'sweet',
 'diligence',
 'cluster',
 'fill',
 'berm',
 'harshly',
 'grosse',
 'categorization',
 'kindness',
 'charlottetown',
 'load',
 'unionize',
 'tree',
 'reintegration',
 'distinct',
 'unequivocal',
 'illegally',
 'achievement',
 'dwell',
 'precautionary',
 'reside',
 'carbon',
 'depiction',
 'greenhouse',
 'mentally',
 'cape',
 'galvanize',
 'springwillow',
 'humanely',
 'comply',
 'landmark',
 'progressively',
 'perception',
 'friendliness',
 'insult',
 'supervision',
 'wait',
 'recommendation',
 'theory',
 'coherence',
 '74th',
 'seatmate',
 'servant',
 'component',
 'usually',
 'allegedly',
 'mobility',
 'insecurity',
 'union',
 'generally',
 'theminister',
 'college',
 'r',
 'zero',
 'minority',
 'initially',
 'virtually',
 'ample',
 'instalment',
 'epic',
 'extremely',
 'measurable',
 'cartoonist',
 'primarily',
 'rotate',
 'polling',
 'quickly',
 'srrp',
 'picturesque',
 'promising',
 'remanufacture',
 'simcoe',
 'define',
 'missing',
 'generation',
 'rbi',
 'callous',
 'ecosystem',
 'crocheting',
 'bituman',
 'arena',
 'hang',
 'slowly',
 'unnecessarily',
 'shout',
 'accomplishment',
 '18th',
 'dental',
 'indirect',
 'peeve',
 'govern',
 'evidently',
 'miner',
 'measure',
 'justice',
 'intrusion',
 'attractive',
 'dismal',
 'contrary',
 'arm',
 'steady',
 'analyze',
 'celebration',
 'macphail',
 'supply',
 'net',
 'poison',
 'opinion',
 'politic',
 'backbencher',
 'comparative',
 'bringing',
 'experiential',
 'prorogation',
 'thunder',
 'guard',
 'boomer',
 'penitentiary',
 'breathalyzer',
 'demonstration',
 'refugee',
 'unfounded',
 'seal',
 'k',
 'evade',
 'inclination',
 'exhibit',
 'resumption',
 'rump',
 'farmyard',
 'industrie',
 'reclassification',
 'misusing',
 'emotion',
 'cheat',
 'shirose',
 'differentiate',
 ...}

In [10]:
sentence = nlp("This probably had understated problems with understatements")

In [11]:
for token in sentence:
    print(token.lemma_)

this
probably
have
understate
problem
with
understatement

In [12]:
v_set = set()

In [13]:
for k, v in vocab_count_dict.items():
    v_set.update(v)

In [14]:
len(v_set)

68464

In [15]:
di = dict.fromkeys(v_set, [1])

In [16]:
fake = [1]*68464

In [17]:
di = {'word1': fake}

In [18]:
df = pd.DataFrame(di)

In [19]:
df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))

In [20]:
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))

In [21]:
df.append(df2, ignore_index=True)

   A  B
0  1  2
1  3  4
2  5  6
3  7  8

In [22]:
df = pd.DataFrame({'member_id': list(vocab_count_dict.keys())})

In [23]:
df.head()

   member_id
0       3465
1        173
2         43
3        216
4        256

In [24]:
v1_set = vocab_count_dict[96]

In [25]:
type(v1_set)

set

In [26]:
v_set == v1_set

False

In [27]:
v = list(v_set)

In [28]:
v.sort()

In [29]:
v[590]

'97b'

##### from PyDictionary import PyDictionary
dictionary=PyDictionary()

In [30]:
any(char.isdigit() for char in 'sdb')

False

In [31]:
any(char.isdigit() for char in '97b')

True

In [32]:
a = [1,2,3,4]

In [33]:
b = [4]

In [34]:
np.in1d(a,b)

array([False, False, False,  True])

In [35]:
v_in= np.in1d(list(v_set), list(v1_set))

In [36]:
v_in = v_in.astype(int)

In [37]:
sum(v_in)

8443

In [38]:
def wordset_to_1(member_id):
    m_vocab = vocab_count_dict[member_id]
    v_in= np.in1d(list(v_set), list(m_vocab))
    v_in = v_in.astype(int)
    df[memb]

In [39]:
list(v_set)[:10]

['uncleared',
 'cosmogonic',
 'conventional',
 'incorrigibility',
 'photocopied',
 'meticulon',
 'sikaran',
 'advising',
 'blueblood',
 'carbohydrate']

In [40]:
words = list(v_set)

In [41]:
words.sort()

In [42]:
words[800:810]

['abridge',
 'abridged',
 'abridgement',
 'abridgment',
 'abroad',
 'abrogate',
 'abrogating',
 'abrogation',
 'abrupt',
 'abruption']

In [44]:
df = pd.DataFrame(columns = newcols)

In [45]:
newcols[-10:]

['über',
 'überminister',
 'œuvrant',
 'ᖁᔭᓐᓇᒦᒃ',
 '’',
 '“',
 '”',
 '•',
 '•support',
 '€']

In [46]:
s = newcols[-9]

In [47]:
s

'überminister'

In [48]:
s.encode("ascii", "ignore")

b'berminister'

In [49]:
w = newcols[-7]

In [50]:
len(w.encode("latin-1",'ignore'))

0

In [51]:
len(w)

6

if the length of the original non-latinate token is nonzero and the length of the latin-1-encoded token is zero, it it can't be represented using the latin character set #TODO later - unidecode tokens

In [52]:
from unidecode import unidecode

In [53]:
unidecode(s)

'uberminister'

In [54]:
sa = set()
sb = set()

In [55]:
sa.update([1,2,3,4])
sb.update([2,5])

In [56]:
[x in sb for x in sa]

[False, True, False, False]

In [66]:
my_dict = {'96': list(v1_set), 'vocab': list(v_set)}

In [67]:
df = pd.DataFrame.from_dict(my_dict, orient='index')

In [68]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,68454,68455,68456,68457,68458,68459,68460,68461,68462,68463
96,dangerously,conventional,genie,welcome,squadron,hooked,clow,bad,shipper,repeatedly,...,None,None,None,None,None,None,None,None,None,None
vocab,uncleared,cosmogonic,conventional,incorrigibility,photocopied,meticulon,sikaran,advising,blueblood,carbohydrate,...,fizzle,hulse,outlying,pluto,enviously,tunic,genuinely,saab,iowu,bloodstaine

how to do this: 

    - make binary columns per sorted word
    - make a dictionary with the key as the member id, and the values as the np array
    - turn to dict
    - transpose
    - turn the index into a column, replace column names with old index values + v_set

In [69]:
v_in= np.in1d(list(v_set), list(v1_set))

In [70]:
v_in[:10]

array([False, False,  True, False, False, False, False, False, False,
       False])

In [84]:
vocab_df = dict()

In [89]:
%%time
for k, v in vocab_count_dict.items():
    vocab_df[k] = np.in1d(list(v_set), list(v)).astype(int)

Wall time: 56.1 s

In [90]:
print('done')

done

In [91]:
vocab_df[96]

array([0, 0, 1, ..., 0, 0, 0])

In [92]:
df = pd.DataFrame.from_dict(vocab_df)

In [96]:
#transpose
df = df.transpose()

In [97]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,68454,68455,68456,68457,68458,68459,68460,68461,68462,68463
3465,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
173,0,0,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
43,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
216,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
256,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [98]:
df['member_id'] = df.index

In [100]:
df.shape

(1051, 68465)

In [102]:
df.reset_index(level=None, drop=False, inplace=True)

In [106]:
df.drop(['member_id'], axis=1, inplace=True)

In [107]:
df = df.rename({'index': 'member_id'},axis=1 )

In [108]:
df.head()

,member_id,0,1,2,3,4,5,6,7,8,...,68454,68455,68456,68457,68458,68459,68460,68461,68462,68463
0,3465,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,173,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,43,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,216,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,256,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [109]:
newcols = ['member_id'] + words

In [112]:
df.columns = [unidecode(x) for x in newcols]

In [113]:
df.head()

,member_id,,,,,,,,,,...,uber,uberminister,oeuvrant,qoyannamiik,',"""","""",*,*support,EUR
0,3465,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,173,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
2,43,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,216,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,256,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [115]:
df.to_csv(r"D:\data\openparliament\vocab_count_df")

In [116]:
df_sums = df.drop(['member_id'], axis=1).sum(axis=1)

In [117]:
df_sums.head()

0    3037
1    6473
2    6468
3    7052
4    6184
dtype: int64