In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [2]:
df = pd.read_csv(r"D:\data\openparliament\statements_nospeaker_en.csv")
df.drop(['Unnamed: 0'], axis=1, inplace=True)

C:\Users\alecr\Anaconda3\envs\gensim_env\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (20,23,28,29,30,31,32,33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
import spacy

nlp = spacy.load('en_core_web_sm')

In [9]:
df.shape

(861398, 35)

In [8]:
df.head()

,id,politician_id,riding_id,party_id,end_date,start_date,id.1,document_id,time,h1_en,...,slug,urlcache,h1_fr,h2_fr,h3_fr,who_fr,who_context_fr,wordcount_en,tokenized_content,slug_length
0,2611,3465,35066,4,2005-11-29,1997-09-22,232373,1878,2001-05-03 13:50:00-04,Government Orders,...,marlene-catterall-1,/debates/2001/5/3/marlene-catterall-1/,NaN,NaN,NaN,NaN,NaN,\N,"['mr.', 'speaker', ',', 'i', 'rise', 'on', 'a'...",3
1,3210,3465,70224,4,1997-04-27,1994-01-17,232373,1878,2001-05-03 13:50:00-04,Government Orders,...,marlene-catterall-1,/debates/2001/5/3/marlene-catterall-1/,NaN,NaN,NaN,NaN,NaN,\N,"['mr.', 'speaker', ',', 'i', 'rise', 'on', 'a'...",3
2,4305,173,70358,1,\N,2015-10-19,645329,388,2008-02-14 13:15:00-05,Routine Proceedings,...,tom-lukiwski-7,/debates/2008/2/14/tom-lukiwski-7/,NaN,NaN,NaN,NaN,NaN,\N,"['finally', ',', 'mr.', 'speaker', ',', 'i', '...",3
3,1534,173,47007,1,2015-10-19,2004-10-04,645329,388,2008-02-14 13:15:00-05,Routine Proceedings,...,tom-lukiwski-7,/debates/2008/2/14/tom-lukiwski-7/,NaN,NaN,NaN,NaN,NaN,\N,"['finally', ',', 'mr.', 'speaker', ',', 'i', '...",3
4,1541,43,47014,1,2015-10-19,2004-10-04,313253,1621,2004-02-06 10:05:00-05,NaN,...,garry-breitkreuz-1,/debates/2004/2/6/garry-breitkreuz-1/,NaN,NaN,NaN,NaN,NaN,\N,"['mr.', 'speaker', ',', 'i', 'rise', 'today', ...",3

In [15]:
members = df.politician_id.value_counts().values

In [30]:
small_df = df[:10000]

In [31]:
den = 0
num = 0

In [32]:
%%time
for index, row in small_df.iterrows(): 
    soup = BeautifulSoup(row.content_en)
    text = soup.text.lower()
    statement = nlp(text)
    den += len(statement)
    sentence = []
    for token in statement:
        if not (token.is_stop or token.pos ==97 or token.pos ==96 or token.pos==99 or token.pos ==93):
            sentence.append(token.text)
    num+=len(sentence)

Wall time: 6min 3s

In [33]:
num/den

0.35896055377973307

in the first 10000 english statements without the speaker, 36% of tokens were punctuation, a name, or a stopword, so I'll adjust the vocabulary counts from earlier to 64% of their previous count

In [29]:
800/60

13.333333333333334

In [3]:
df.shape

(861398, 35)