In [14]:
import pandas as pd
import textstat

In [15]:
from bs4 import BeautifulSoup

In [3]:
df = pd.read_csv(r"D:\data\openparliament\statements_nospeaker_en.csv")

df.drop(['Unnamed: 0'], axis=1, inplace=True)

C:\Users\alecr\Anaconda3\envs\gensim_env\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (20,23,28,29,30,31,32,33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
df.head()

,id,politician_id,riding_id,party_id,end_date,start_date,id.1,document_id,time,h1_en,...,h1_fr,h2_fr,h3_fr,who_fr,who_context_fr,wordcount_en,tokenized_content,slug_length,tokens,soup
0,2611,3465,35066,4,2005-11-29,1997-09-22,232373,1878,2001-05-03 13:50:00-04,Government Orders,...,NaN,NaN,NaN,NaN,NaN,\N,"['mr.', 'speaker', ',', 'i', 'rise', 'on', 'a'...",3,"[mr., speaker, ,, i, rise, on, a, point, of, o...","Mr. Speaker, I rise on a point of order. I bel..."
1,3210,3465,70224,4,1997-04-27,1994-01-17,232373,1878,2001-05-03 13:50:00-04,Government Orders,...,NaN,NaN,NaN,NaN,NaN,\N,"['mr.', 'speaker', ',', 'i', 'rise', 'on', 'a'...",3,"[mr., speaker, ,, i, rise, on, a, point, of, o...","Mr. Speaker, I rise on a point of order. I bel..."
2,4305,173,70358,1,\N,2015-10-19,645329,388,2008-02-14 13:15:00-05,Routine Proceedings,...,NaN,NaN,NaN,NaN,NaN,\N,"['finally', ',', 'mr.', 'speaker', ',', 'i', '...",3,"[finally, ,, mr., speaker, ,, i, ask, that, al...","Finally, Mr. Speaker, I ask that all remaining..."
3,1534,173,47007,1,2015-10-19,2004-10-04,645329,388,2008-02-14 13:15:00-05,Routine Proceedings,...,NaN,NaN,NaN,NaN,NaN,\N,"['finally', ',', 'mr.', 'speaker', ',', 'i', '...",3,"[finally, ,, mr., speaker, ,, i, ask, that, al...","Finally, Mr. Speaker, I ask that all remaining..."
4,1541,43,47014,1,2015-10-19,2004-10-04,313253,1621,2004-02-06 10:05:00-05,NaN,...,NaN,NaN,NaN,NaN,NaN,\N,"['mr.', 'speaker', ',', 'i', 'rise', 'today', ...",3,"[mr., speaker, ,, i, rise, today, on, a, quest...","Mr. Speaker, I rise today on a question of pri..."

In [22]:
content = df.tokenized_content

In [17]:
df['text_len'] = df.soup.apply(len)

In [21]:
df = df[df.text_len>2]

In [6]:
content[0]

"['mr.', 'speaker', ',', 'i', 'rise', 'on', 'a', 'point', 'of', 'order', '.', 'i', 'believe', 'you', 'would', 'find', 'unanimous', 'consent', 'following', 'consultation', 'among', 'all', 'parties', 'to', 'further', 'defer', 'the', 'vote', 'just', 'deferred', 'until', 'monday', 'to', 'next', 'tuesday', 'at', 'the', 'end', 'of', 'government', 'orders', '.']"

In [23]:
import ast

In [24]:
ast.literal_eval(content[0])

['mr.',
 'speaker',
 ',',
 'i',
 'rise',
 'on',
 'a',
 'point',
 'of',
 'order',
 '.',
 'i',
 'believe',
 'you',
 'would',
 'find',
 'unanimous',
 'consent',
 'following',
 'consultation',
 'among',
 'all',
 'parties',
 'to',
 'further',
 'defer',
 'the',
 'vote',
 'just',
 'deferred',
 'until',
 'monday',
 'to',
 'next',
 'tuesday',
 'at',
 'the',
 'end',
 'of',
 'government',
 'orders',
 '.']

In [9]:
%%time
df['tokens'] = df.tokenized_content.apply(ast.literal_eval)

Wall time: 7min 58s

In [10]:
%%time
df['soup'] = df.content_en.apply(lambda x: BeautifulSoup(x).text)

Wall time: 3min 26s

In [26]:
%%time
df['reading_ease'] = df.soup.apply(textstat.flesch_reading_ease)

Wall time: 9min

In [30]:
df.reading_ease.describe()

count    861391.000000
mean         47.374649
std          34.210191
min       -2908.230000
25%          37.640000
50%          51.680000
75%          63.220000
max         206.840000
Name: reading_ease, dtype: float64

In [31]:
maybefrench = df[df.reading_ease<-2000]

In [20]:
df[df.text_len<2]

,id,politician_id,riding_id,party_id,end_date,start_date,id.1,document_id,time,h1_en,...,h2_fr,h3_fr,who_fr,who_context_fr,wordcount_en,tokenized_content,slug_length,tokens,soup,text_len
773451,580,453,35086,1,\N,2006-04-03,2483963,18877,2017-10-30 12:00:00-04,Private Members' Business,...,La Loi sur le ministÃ¨re de la SantÃ©,Reprise de la sÃ©ance,NaN,NaN,0,[],3,[],,1
785733,1071,573,35002,2,\N,2008-11-18,2536457,19164,2018-02-12 12:00:00-05,Private Members' Business,...,Loi sur la protection de la santÃ© des enfants,Reprise de la sÃ©ance,NaN,NaN,0,[],3,[],,1
787151,4404,249,35057,4,\N,2015-10-19,2548492,19235,2018-02-26 12:00:00-05,Private Members' Business,...,La Loi sur les lieux et monuments historiques,Reprise de la sÃ©ance,NaN,NaN,0,[],3,[],,1
787152,1399,249,35057,4,2011-03-26,2004-10-04,2548492,19235,2018-02-26 12:00:00-05,Private Members' Business,...,La Loi sur les lieux et monuments historiques,Reprise de la sÃ©ance,NaN,NaN,0,[],3,[],,1
803518,1640,242,12005,4,\N,2001-01-29,2619148,19590,2018-06-07 10:15:00-04,Routine Proceedings,...,La commissaire au lobbying,Reprise de la sÃ©ance,NaN,NaN,0,[],3,[],,1
803519,3148,242,12005,4,1997-04-27,1994-01-17,2619148,19590,2018-06-07 10:15:00-04,Routine Proceedings,...,La commissaire au lobbying,Reprise de la sÃ©ance,NaN,NaN,0,[],3,[],,1
807610,580,453,35086,1,\N,2006-04-03,2640846,19694,2018-09-17 12:00:00-04,Private Members' Business,...,NaN,NaN,NaN,NaN,0,[],3,[],,1

In [29]:
df[df.text_len<5]

,id,politician_id,riding_id,party_id,end_date,start_date,id.1,document_id,time,h1_en,...,h3_fr,who_fr,who_context_fr,wordcount_en,tokenized_content,slug_length,tokens,soup,text_len,reading_ease
11002,1448,295,35104,1,2018-09-30,2004-10-04,781443,3150,2012-04-30 15:15:00-04,Oral Questions,...,NaN,NaN,NaN,\N,"['yes', '.']",4,"[yes, .]",Yes.,4,121.22
39677,3198,279,35050,4,2011-03-26,1994-01-17,229984,1868,2001-04-05 15:20:00-04,Government Orders,...,NaN,NaN,NaN,\N,"['why', '?']",3,"[why, ?]",Why?,4,121.22
53503,2645,4405,70155,4,2000-10-22,1997-09-22,224622,1850,2001-03-12 17:00:00-05,Government Orders,...,NaN,NaN,NaN,\N,"['yes', '.']",3,"[yes, .]",Yes.,4,121.22
53504,3182,4405,70213,4,1997-04-27,1994-01-17,224622,1850,2001-03-12 17:00:00-05,Government Orders,...,NaN,NaN,NaN,\N,"['yes', '.']",3,"[yes, .]",Yes.,4,121.22
53505,1649,4405,70073,4,2004-02-16,2001-01-29,224622,1850,2001-03-12 17:00:00-05,Government Orders,...,NaN,NaN,NaN,\N,"['yes', '.']",3,"[yes, .]",Yes.,4,121.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
781890,4322,409,70268,1,2019-10-21,2015-10-19,2522450,19083,2017-12-12 12:20:00-05,Government Orders,...,NaN,Mme Sylvie Boucher,Beauportâ€”CÃ´te-de-BeauprÃ©â€”ÃŽle d'OrlÃ©ansâ€”Charlev...,0,"['no', '.']",3,"[no, .]",No.,4,36.62
781891,351,409,24007,1,2011-03-26,2006-04-03,2522450,19083,2017-12-12 12:20:00-05,Government Orders,...,NaN,Mme Sylvie Boucher,Beauportâ€”CÃ´te-de-BeauprÃ©â€”ÃŽle d'OrlÃ©ansâ€”Charlev...,0,"['no', '.']",3,"[no, .]",No.,4,36.62
792469,4225,9547,59004,1,\N,2015-10-19,2571350,19354,2018-04-17 13:15:00-04,Routine Proceedings,...,NaN,M. Todd Doherty,NaN,1,"['wow', '.']",3,"[wow, .]",Wow.,4,121.22
808527,4298,306,35022,4,2019-10-21,2015-10-19,2641742,19697,2018-09-20 17:00:00-04,Private Members' Business,...,NaN,M. Borys Wrzesnewskyj,"Etobicoke-Centre, Lib.",1,"['no', '.']",3,"[no, .]",No.,3,121.22
808528,1364,306,35022,4,2011-03-26,2004-10-04,2641742,19697,2018-09-20 17:00:00-04,Private Members' Business,...,NaN,M. Borys Wrzesnewskyj,"Etobicoke-Centre, Lib.",1,"['no', '.']",3,"[no, .]",No.,3,121.22

I'm assuming that if the reading ease is above 20, it's in English, for now

In [33]:
english = df[df.reading_ease>20]

In [34]:
english.shape

(775410, 39)

In [35]:
english.sort_values(by='reading_ease', ascending=False)

,id,politician_id,riding_id,party_id,end_date,start_date,id.1,document_id,time,h1_en,...,h3_fr,who_fr,who_context_fr,wordcount_en,tokenized_content,slug_length,tokens,soup,text_len,reading_ease
781533,1071,573,35002,2,\N,2008-11-18,2520964,19079,2017-12-11 12:00:00-05,Private Members' Business,...,Reprise de la sÃ©ance,NaN,NaN,0,[],3,[],,3,206.84
639257,610,461,48022,1,2015-10-19,2006-04-03,2006800,16295,2014-06-16 23:55:00-04,Government Orders,...,NaN,M. Chris Warkentin,"Peace River, PCC",\N,"['more', '.']",3,"[more, .]",More.,5,121.22
329095,1507,23,24055,3,2014-08-25,2004-10-04,368279,1612,2005-11-22 17:00:00-05,Government Orders,...,NaN,NaN,NaN,\N,"['yes', '.']",3,"[yes, .]",Yes.,4,121.22
808528,1364,306,35022,4,2011-03-26,2004-10-04,2641742,19697,2018-09-20 17:00:00-04,Private Members' Business,...,NaN,M. Borys Wrzesnewskyj,"Etobicoke-Centre, Lib.",1,"['no', '.']",3,"[no, .]",No.,3,121.22
177262,1640,242,12005,4,\N,2001-01-29,263351,2006,2002-05-01 15:45:00-04,Routine Proceedings,...,NaN,NaN,NaN,\N,"['yes', '.']",3,"[yes, .]",Yes.,4,121.22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199017,1469,36,24017,3,2011-03-26,2004-10-04,675791,500,2009-03-25 15:10:00-04,Routine Proceedings,...,NaN,NaN,NaN,\N,"['moved', 'for', 'leave', 'to', 'introduce', '...",3,"[moved, for, leave, to, introduce, bill, c-343...","moved for leave to introduce Bill C-343, An A...",928,20.01
852965,4476,10628,24016,1,\N,2018-06-18,2832871,20718,2020-02-26 14:05:00-05,Statements by Members,...,NaN,"M. Richard Martel (Chicoutimiâ€”Le Fjord, PCC)","Chicoutimiâ€”Le Fjord, PCC",0,"['mr.', 'speaker', ',', 'people', 'in', 'the',...",3,"[mr., speaker, ,, people, in, the, saguenayâ€”la...","Mr. Speaker, people in the Saguenayâ€”Lac-Saint-...",1011,20.01
809926,4378,8491,70288,2,2019-10-21,2015-10-19,2645124,19712,2018-09-28 11:20:00-04,Oral Questions,...,NaN,"M. Matthew DubÃ© (Beloeilâ€”Chambly, NPD)","Beloeilâ€”Chambly, NPD",0,"['mr.', 'speaker', ',', 'we', 'know', 'that', ...",3,"[mr., speaker, ,, we, know, that, csis, spied,...","Mr. Speaker, we know that CSIS spied on envir...",510,20.01
346494,3335,121,70260,4,1997-04-27,1994-01-17,595706,210,2006-09-21 15:25:00-04,Routine Proceedings,...,NaN,NaN,NaN,\N,"['mr.', 'speaker', ',', 'if', 'i', 'could', 'd...",3,"[mr., speaker, ,, if, i, could, direct, my, po...","Mr. Speaker, if I could direct my point to you...",946,20.01
274252,1593,4156,70055,25,2004-05-23,2001-01-29,193331,2090,2000-02-24 14:10:00-05,Statements By Members,...,NaN,NaN,NaN,\N,"['mr.', 'speaker', ',', 'canadian', 'truckers'...",3,"[mr., speaker, ,, canadian, truckers, are, fac...","Mr. Speaker, Canadian truckers are facing a cr...",952,20.01

In [48]:
reading_ease_party = df.pivot_table(values='reading_ease', index = "party_id", aggfunc='mean')

In [39]:
reading_ease_party.sort_values(by='reading_ease', ascending=False, inplace=True)

In [40]:
reading_ease_party

          reading_ease
party_id
28           49.965355
25           49.170936
1            49.164895
46           49.129540
26           48.073650
2            47.864573
5            47.157679
4            46.043936
9            43.404443
3            42.163628
39           36.434843

In [41]:
party_df = pd.read_csv(r"D:\data\openparliament\core_party.csv", sep='\t', header=None)
party_names = ['id', 'name_en', 'slug','short_name_en', 'name_fr', 'short_name_fr']
party_df.columns = party_names

In [49]:
reading_ease_party = reading_ease_party.merge(party_df, how='inner', left_on='party_id', right_on='id')

In [44]:
reading_ease_party

,reading_ease,id,name_en,slug,short_name_en,name_fr,short_name_fr
0,49.965355,28,Reform Party of Canada,reform,Reform,Reform Party of Canada,Reform
1,49.170936,25,Canadian Alliance,alliance,Canadian Alliance,Canadian Alliance,Canadian Alliance
2,49.164895,1,Conservative Party of Canada,cpc,Conservative,Parti conservateur du Canada,Conservateur
3,49.129540,46,QuÃ©bec debout,NaN,QuÃ©bec debout,QuÃ©bec debout,QuÃ©bec debout
4,48.073650,26,Progressive Conservative,pc,Progressive Conservative,Progressive Conservative,Progressive Conservative
5,47.864573,2,New Democratic Party,NDP,NDP,Nouveau Parti dÃ©mocratique,NPD
6,47.157679,5,Independent,IND,Independent,IndÃ©pendant,IndÃ©pendant
7,46.043936,4,Liberal Party of Canada,liberal,Liberal,Parti libÃ©ral du Canada,LibÃ©ral
8,43.404443,9,Green Party of Canada,green,Green,Parti verti du Canada,Vert
9,42.163628,3,Bloc QuÃ©bÃ©cois,bloc,Bloc,Bloc QuÃ©bÃ©cois,Bloc
10,36.434843,39,Forces et DÃ©mocratie,forces,Forces et DÃ©mocratie,Forces et DÃ©mocratie,Forces et DÃ©mocratie

In [50]:
reading_ease_politician = df.pivot_table(values='reading_ease', index = "politician_id", aggfunc='mean')

In [52]:
df_electedmember = pd.read_csv(r"D:\data\openparliament\core_electedmember.csv")

In [54]:
reading_ease_politician = reading_ease_politician.merge(df_electedmember, how='inner', left_on='politician_id', right_on='politician_id')

In [57]:
reading_ease_politician.sort_values(by='reading_ease', ascending=False, inplace=True)

In [58]:
reading_ease_politician.head()

,politician_id,reading_ease,id,riding_id,party_id,end_date,start_date
1035,5767,99.230000,3131,70062,4,2000-10-22,1994-01-17
891,3943,96.700000,3057,48010,28,2000-10-22,1994-01-17
466,399,82.226479,320,24051,5,2011-03-26,2006-04-03
968,4748,67.589556,2620,35074,4,2000-10-22,1997-09-22
1249,9634,65.771333,4240,70284,4,2017-08-31,2015-10-19

1499