In [1]:
import pandas as pd

In [2]:
%config Completer.use_jedi = False

In [3]:
df = pd.read_csv(r"D:\data\openparliament\statement_id2result.csv", header=None)

C:\Users\alecr\Anaconda3\envs\gensim_env\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

              0       1
0  statement_id  result
1        582228       Y
2        582228       Y
3        582228       Y
4        582228       Y

In [5]:
df2 = pd.read_csv(r"D:\data\openparliament\statement_id2vote_result.csv", header=None)
df2.head()

C:\Users\alecr\Anaconda3\envs\gensim_env\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2,3,4,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,10
0,time,content_en,speaking_pid,bill_id,statement_id,speech_date,result,date,votequestion_id,yea_total,nay_total
1,2012-05-30 19:15:00-04,"<p data-HoCid=""2922210"" data-originallang=""fr""...",NaN,6546,1692028,2012-06-13,N,2012-06-13,1507,93,131
2,2012-05-30 19:15:00-04,"<p data-HoCid=""2922210"" data-originallang=""fr""...",NaN,6546,1692028,2012-06-13,N,2012-06-13,1506,93,142
3,2012-05-30 19:15:00-04,"<p data-HoCid=""2922210"" data-originallang=""fr""...",NaN,6546,1692028,2012-06-13,N,2012-06-13,1505,29,206
4,2012-05-30 19:15:00-04,"<p data-HoCid=""2922210"" data-originallang=""fr""...",NaN,6546,1692028,2012-06-13,N,2012-06-13,1504,114,142