In [1]:
import pandas as pd

In [2]:
%config Completer.use_jedi = False

In [19]:
df = pd.read_csv(r"D:\data\openparliament\statement_id2result.csv", header=0)

In [20]:
df.head()

   statement_id result
0        582228      Y
1        582228      Y
2        582228      Y
3        582228      Y
4        582228      Y

In [5]:
df2 = pd.read_csv(r"D:\data\openparliament\statement_id2vote_result.csv", header=None)
df2.head()

C:\Users\alecr\Anaconda3\envs\gensim_env\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2,3,4,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,0,1,2,3,4,5,6,7,8,9,10
0,time,content_en,speaking_pid,bill_id,statement_id,speech_date,result,date,votequestion_id,yea_total,nay_total
1,2012-05-30 19:15:00-04,"<p data-HoCid=""2922210"" data-originallang=""fr""...",NaN,6546,1692028,2012-06-13,N,2012-06-13,1507,93,131
2,2012-05-30 19:15:00-04,"<p data-HoCid=""2922210"" data-originallang=""fr""...",NaN,6546,1692028,2012-06-13,N,2012-06-13,1506,93,142
3,2012-05-30 19:15:00-04,"<p data-HoCid=""2922210"" data-originallang=""fr""...",NaN,6546,1692028,2012-06-13,N,2012-06-13,1505,29,206
4,2012-05-30 19:15:00-04,"<p data-HoCid=""2922210"" data-originallang=""fr""...",NaN,6546,1692028,2012-06-13,N,2012-06-13,1504,114,142

In [5]:
df_full = pd.read_csv(r"D:\data\openparliament\statements_nospeaker_en.csv", header=0)
df_full.columns

C:\Users\alecr\Anaconda3\envs\gensim_env\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (20,23,28,29,30,31,32,33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['Unnamed: 0', 'id', 'politician_id', 'riding_id', 'party_id',
       'end_date', 'start_date', 'id.1', 'document_id', 'time', 'h1_en',
       'h2_en', 'member_id', 'who_en', 'content_en', 'sequence_en',
       'wordcount', 'politician_id.1', 'procedural', 'h3_en', 'who_hocid',
       'content_fr', 'statement_type', 'written_question', 'source_id',
       'who_context_en', 'slug', 'urlcache', 'h1_fr', 'h2_fr', 'h3_fr',
       'who_fr', 'who_context_fr', 'wordcount_en', 'tokenized_content',
       'slug_length'],
      dtype='object')

In [15]:
df_full.rename({'id.1': 'statement_id'},inplace=True, axis=1)

In [18]:
df_full.statement_id

0          232373
1          232373
2          645329
3          645329
4          313253
           ...
861393    2917791
861394    2917792
861395    2917792
861396    2917794
861397    2917796
Name: statement_id, Length: 861398, dtype: int64

In [22]:
labels = df_full.merge(df, left_on='statement_id', right_on='statement_id')

In [23]:
labels.columns

Index(['Unnamed: 0', 'id', 'politician_id', 'riding_id', 'party_id',
       'end_date', 'start_date', 'statement_id', 'document_id', 'time',
       'h1_en', 'h2_en', 'member_id', 'who_en', 'content_en', 'sequence_en',
       'wordcount', 'politician_id.1', 'procedural', 'h3_en', 'who_hocid',
       'content_fr', 'statement_type', 'written_question', 'source_id',
       'who_context_en', 'slug', 'urlcache', 'h1_fr', 'h2_fr', 'h3_fr',
       'who_fr', 'who_context_fr', 'wordcount_en', 'tokenized_content',
       'slug_length', 'result'],
      dtype='object')

In [26]:
ndf = labels[['statement_id', 'result']]

In [30]:
ndf[ndf['result'] == 'N']

          statement_id result
79              688568      N
82              688568      N
85              688568      N
88              688568      N
91              688568      N
...                ...    ...
14616028       2811023      N
14616031       2811024      N
14616033       2811024      N
14616035       2811024      N
14616037       2811024      N

[13594857 rows x 2 columns]